<nav>
    <div class="navigation">
        <% if user_signed_in? %>
        <div class="nav-links">
            <%= link_to "Doctors", doctors_path %>
            <%= link_to 'Add Doctor', new_doctor_path %>
            <%= link_to 'Patients', patients_path %>
            <%= link_to 'Add Patient', new_patient_path %>
        </div>

        <div class="user-login">
            <%= "Welcome #{current_user.email}" %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"logout"%>
        </div>
        <% elsif consumer_signed_in? %>
            <div class="nav-links">
                <%= link_to "Dashboard", user_dashboard_index_path %>
            </div>

            <div class="user-login">
                <%= "Welcome #{current_consumer.email}" %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"logout"%>
            </div>

        <% elsif doc_signed_in? %>
            <div class="nav-links">
                <%= link_to "Dashboard", doctor_dashboard_index_path %>
            </div>

            <div class="user-login">
                <%= "Welcome #{current_doc.email}" %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"logout"%>
            </div>
        <% else %>
          <div class="nav-links">
            <%= link_to "User - Sign in",  new_consumer_session_path %>
            <%= link_to 'Admin - Sign in', new_user_session_path %>
            <%= link_to 'Doctor - Sign in', new_doc_session_path %>
          </div>
        <% end %>
        
    </div>
</nav>